<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[log4j]%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="jdbc.sqlonly" level="INFO" additivity="false"> 
        	<AppenderRef ref="console" /> 
        </Logger> 
        <Logger name="java.sql" level="OFF" additivity="false"> 
        	<AppenderRef ref="console" /> 
        </Logger> 
        <Logger name="egovframework" level="DEBUG" additivity="false"> 
        	<AppenderRef ref="console" /> 
        </Logger> 
        <!-- log SQL with timing information, post execution --> 
        <Logger name="jdbc.sqltiming" level="OFF" additivity="false"> 
        	<AppenderRef ref="console" /> 
        </Logger> 
        <Logger name="jdbc" level="OFF"/> 
        <Logger name="jdbc.connection" level="OFF"/> 
        <logger name="jdbc.audit" level="OFF"/> 
        <Logger name="jdbc.resultset" level="OFF"/> 
        <Logger name="jdbc.resultsettable" level="OFF"/> 
        <Logger name="org.springframework" level="INFO" additivity="false"> 
        	<AppenderRef ref="console" /> 
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
